.button {
  grid-column: 1 / -1;

  display: grid;
  place-items: center;

  background-color: #fff;
  border-radius: 40px;
  color: $nav-color;
  width: 100%;
  height: 56px;
  font-weight: $prod-title-weight;
  line-height: 27px;
  font-size: 16px;
  transition: $transition;

  &:hover {
    box-shadow: 1px 4px 16px #e8e8f066;
  }

  &:active {
    box-shadow: 1px 4px 16px #e8e8f0a3;
  }

  &--link {
    @include on-tablet {
      grid-column: 2 / span 4;
    }

    @include on-desktop {
      grid-column: 5 / span 4;
    }
  }
}
