.contact-form {
  grid-column: 1 / -1;

  &__imput {
    padding-block: 14px;
    padding-left: 16px;
    height: 48px;
    width: 100%;
    background-color: #f8f8fa;
    border-radius: 40px;
    margin-bottom: 16px;

    &::placeholder {
      color: #7e7e83;
    }

    &--area {
      border-radius: 16px;
      height: 148px;
    }

    &:hover {
      border: 1px solid #d5d7de;
    }

    &:active {
      border: 1px solid #292929;
    }
  }
}
