.footer {
  background-image: url(/src/images/footer_bike.webp);
  background-size: cover;
  height: $footer-height-s;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;

  @include on-tablet {
    height: $footer-height-m;
  }

  @include on-desktop {
    height: $footer-height-l;
  }
}
