.header {
  color: $primary-text-color;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-image: url(/src/images/bg-img.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__bottom {
    padding-bottom: 88px;
    padding-inline: 20px;

    @include content-padding-inline;

    @include on-tablet {
      padding-bottom: 130px;
    }

    @include on-desktop {
      padding-bottom: 203px;
    }
  }

  &__title {
    text-align: center;
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;

    @include on-tablet {
      font-size: 64px;
    }

    @include on-desktop {
      font-size: 80px;
    }
  }

  @include on-tablet {
    background-image: url(/src/images/bg-img_M.webp);
  }

  @include on-desktop {
    background-image: url(/src/images/bg-img_M.webp);
  }
}
