.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(/src/images/icons/icon-phone-call.svg);
    display: inline-flex;
    align-items: center;
    justify-content: end;

    .phone-number {
      padding-right: calc(32px + 20px);
      white-space: nowrap;
      color: $primary-text-color;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      pointer-events: none;
      opacity: 0;
      transition: $transition;
    }

    &:hover .phone-number {
      @include on-desktop {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &--burger {
    background-image: url(/src/images/icons/icon-burger-menu-svg.svg);
    transition: $transition;

    &:hover {
      background-image: url(/src/images/icons/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(/src/images/icons/icon-close.svg);
  }
}
