.layout {
  background-color: $nav-color;

  @include content-margin-block;
  @include content-padding-inline;

  .content-wrapper {
    @include grid-layout;

    .section {
      grid-column: 1 / -1;
    }

    .compare {
      margin-block: 92px;

      @include on-tablet {
        margin-top: 132px;
        margin-bottom: 0;
        grid-column: 2 / span 4;
      }

      @include on-desktop {
        grid-column: 1 / -1;
        margin-top: 164px;
      }
    }

    .details {
      margin-bottom: 80px;

      @include on-tablet {
        margin-block: 120px;
      }

      @include on-desktop {
        margin-top: 144px;
        margin-bottom: 180px;
      }
    }
  }
}
