.menu {
  color: $nav-color;
  box-sizing: border-box;
  height: 100vh;
  background-color: #c2c2c2;
  overflow: auto;

  &__nav {
    margin-top: 24px;
  }

  &__content {
    @include content-padding-inline;
  }

  &__phone-number {
    display: block;
    text-decoration: none;
    color: $nav-color;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    margin-top: 40px;
    width: fit-content;

    @include contacts-link-hover;
  }

  &__book-test {
    display: block;
    text-decoration: none;
    color: $nav-color;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 16px;
    border-bottom: solid 1px $nav-color;
    width: fit-content;
    padding-bottom: 7px;

    @include contacts-link-hover;
  }

  .top-bar--menu {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: inherit;
  }
}
