.nav {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    position: relative;
    color: $nav-color;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      display: block;
      background-color: $nav-color;
      height: 1px;
      width: 100%;

      transform: scale(0);
      transition: transform 0.3s;
    }

    &:hover::after {
      transform: scale(1);
      transform-origin: left;
    }
  }
}
