.page {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  scroll-behavior: smooth;
  padding-bottom: $footer-height-s;
  position: relative;
  isolation: isolate;

  &__body {
    margin: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;

    transform: translateX(-100%);
    transition: all $transition;

    &:target {
      transform: translateX(0);
      opacity: 1;
      pointer-events: all;
    }
  }

  &:has(.page__menu:target) {
    overflow: hidden;
    height: 100dvh;
  }

  @include on-tablet {
    padding-bottom: $footer-height-m;
  }

  @include on-desktop {
    padding-bottom: $footer-height-l;
  }
}
