.top-bar {
  padding-block: 24px;
  padding-inline: 20px;

  @include content-padding-inline;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 36px;
  }

  &__logo {
    display: flex;

    @include hover(transform, scale(1.2));
  }

  &__icons {
    display: flex;
    gap: 24px;
  }
}
