@import 'utils/reset';
@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/placeholders';
@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/top-bar';
@import 'blocks/menu';
@import 'blocks/icon';
@import 'blocks/nav';
@import 'blocks/section';
@import 'blocks/product';
@import 'blocks/detail';
@import 'blocks/layout';
@import 'blocks/details-grid-rows';
@import 'blocks/button';
@import 'blocks/contact-form';
@import 'blocks/footer';
