@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    padding-inline: 120px;
  }
}

@mixin content-margin-block {
  padding-top: 60px;
  padding-bottom: 120px;

  @include on-tablet {
    padding-top: 120px;
    padding-bottom: 102px;
  }

  @include on-desktop {
    padding-bottom: 164px;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} $transition;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin contacts-link-hover {
  transition: $transition;

  &:hover {
    color: $contacts-link-color;
    transform: scale(1.05);
  }
}

@mixin grid-layout {
  --colomns: 2;

  display: grid;
  grid-template-columns: repeat(var(--colomns), 1fr);
  column-gap: 20px;
  margin-inline: auto;
  max-width: 1020px;

  @include on-tablet {
    --colomns: 6;

    column-gap: 24px;
  }

  @include on-desktop {
    --colomns: 12;
  }
}
