%text-info-product {
  line-height: 140%;
  grid-column: span 2;
}

%sub-title-product {
  grid-column: span 2;
  line-height: 140%;
  font-weight: $prod-title-weight;
  font-size: $prod-title-size;
}
