// reset for styles in semantics
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

input,
textarea {
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  box-sizing: border-box;
  resize: none;
}
