// display sizing
$tablet-min-width: 744px;
$desktop-min-width: 1024px;

// footer
$footer-height-s: 200px;
$footer-height-m: 480px;
$footer-height-l: 555px;

// color
$nav-color: #1d1d1d;
$primary-text-color: #ffff;
$contacts-link-color: #717171a3;

// padding / margin
$gap-mobile: 20px;
$gap-large: 24px;
$marg-sections-title: 48px;

// font weigt - size
$prod-title-weight: 700;
$prod-title-size: 24px;

// gdisplay grid colomns
$--colomns: 2;

// effects
$transition: 0.3s;
