html {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 24px;
  line-height: 140%;
}

body {
  margin: 0;
}

/* #region header */

.header {
  padding: 24px 20px 88px;
  box-sizing: border-box;
  height: 100vh;
  background-image: url(images/bike-background-header.png);
  background-size: cover;
  background-position: right;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__bottom {
  align-self: center;
}

.header__title {
  margin: 0;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* #endregion */

/* #region icons */

.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone {
  background-image: url(images/icons/Icon-Phone-call.svg);
}

.icon--burger {
  background-image: url(images/icons/Icon-Burger-menu.svg);
}
